// COLORS

// white
$color-white: #fff;

// black
$color-black: #2b2b2b;

// blue
$color-blue: #007aff;
$color-blue-light: #44aafc;

// gray
$color-gray: #d3d2d2;

// FONTS

// Montserrat
$montserrat-100: 'Montserrat-Thin';
$montserrat-200: 'Montserrat-ExtraLight';
$montserrat-300: 'Montserrat-Light';
$montserrat-400: 'Montserrat-Regular';
$montserrat-500: 'Montserrat-Medium';
$montserrat-600: 'Montserrat-SemiBold';
$montserrat-700: 'Montserrat-Bold';
$montserrat-800: 'Montserrat-ExtraBold';
$montserrat-900: 'Montserrat-Black';

// Breakpoints
// $tablet: 992px;
// $large: 1500px;
// $desktop: 1200px;
// $mobile: 576px;

// // Animation
// $transition-base: all 0.25s ease-out;
