// COLORS
// white
$color-white: #fff;

// black
$color-black: #222C44;

// blue
$color-blue: #007AFF;

// gray
$color-gray-light: #F6FAFF;
$color-gray: #57595F;

// FONTS
// Montserrat
$montserrat-400: 'Montserrat-Regular';
$montserrat-500: 'Montserrat-Medium';
$montserrat-600: 'Montserrat-SemiBold';
$montserrat-700: 'Montserrat-Bold';

// Breakpoints
$mobile: 1280px;
$tablet: 1140px;
$desktop: 1280px;

// // Animation
// $transition-base: all 0.25s ease-out;
