// COLORS
$color-white: #fff;
$color-black: #222C44;
$color-blue: #007AFF;
$color-gray-light: #F6FAFF;
$color-gray: #57595F;

// FONTS
// Montserrat
$montserrat-400: 'Montserrat-Regular';
$montserrat-500: 'Montserrat-Medium';
$montserrat-600: 'Montserrat-SemiBold';
$montserrat-700: 'Montserrat-Bold';

// Breakpoints

$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;
$large: 1440px;

// Animation
$transition-base: all 0.25s ease-out;
