@import './base.scss';
@import './fonts.scss';

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

.button {
  margin: 0;
  padding: 12px;
  display: inline-flex;
  align-items: center;
  border-radius: 36px;
  border: 1px solid #007aff;

  &_circle {
    border-radius: 50%;
  }

  &_blue {
    padding: 12px 36px;
    background: #007aff;
    color: #fff;
  }
}

@media (hover: hover) {
  // a:hover {
  //   background-color: hsla(160, 100%, 37%, 0.2);
  // }
}
